IndentWidth: 4
TabWidth: 4

Language: Cpp
Standard: Cpp11
BasedOnStyle: Google

# indent
AccessModifierOffset: -4
ContinuationIndentWidth: 8
IncludeBlocks: Preserve
IndentCaseBlocks: false
IndentCaseLabels: true
IndentGotoLabels: false

# align
AlignAfterOpenBracket: DontAlign
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: false
ColumnLimit: 120

# constructor
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerIndentWidth: 8
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# short block
CompactNamespaces: false
SortUsingDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: true
# other
AlwaysBreakTemplateDeclarations: Yes
DerivePointerAlignment: false
PointerAlignment: Left

ReferenceAlignment: Left
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments:true
AlignConsecutiveDeclarations:  false
AlwaysBreakBeforeMultilineStrings: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
MaxEmptyLinesToKeep: 1

# clang-format 3.9+
SortIncludes: false
BreakStringLiterals: false
ReflowComments: true
UseTab: Never
